*{
  background-color: yellow;
  margin: 0;
  padding: 0;
}

.App{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}


.login{
  background-color: red  ;
  margin: 30px;
  border:2px solid black;
  border-radius: 30px;

}

label{
  font-size: 30px;
  font-weight: bold;
}

input{
  background-color: rgb(0, 255, 229) !important;
  padding: 20px;
  border: none;
  width: 30%;
  border-radius: 10px;
  font-size: 20px;
}


button{
  background-color: rgb(88, 88, 245) !important;
  padding: 30px;
  border: none;
  border-radius: 10px;
  width: 20%;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}


.container table{
  margin: auto;
}

.container tr td{
  color: black;
  padding: 15px;
  width: 200px;
  background-color: rgb(0, 255, 110) ;
  cursor: pointer;
  font-size: 20px;
}